.administrator-wrapper {
  background-color: $background;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

.administrator-container {
  width: 800px;
  margin: 0 auto;
  padding: 50px 0;
}

.administrator-header {
  text-align: center;
  color: $gold;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 50px;
}

.administrator-champions-container {
  display: flex;
  flex-wrap: wrap;
}

.administrator-champion-row {
  width: 160px;
  height: 160px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.administrator-champion-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
}

.administrator-champion-name {
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.administrator-champion-search-container {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.administrator-champion-search-label {
  margin-bottom: 10px;
}

.administrator-champion-search {
  width: 250px;
  outline: none;
  border: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 10px;
  height: 42px;
}

.administrator-champions-details-back {
  padding: 5px 20px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  line-height: 0;
  margin-bottom: 25px;

  i {
    margin-right: 10px;
  }
}

.administrator-champions-details-inner-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.administrator-champions-details-image {
  width: 250px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.75), 0 0 15px rgba(0, 0, 0, 0.25);
}

.administrator-champions-details-content {
  width: calc(100% - 285px);
}

.administrator-champions-details-name {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.administrator-champions-details-tags-label {
  margin-bottom: 10px;
}

.administrator-champions-details-flex-container {
  display: flex;
  height: 60px;
  margin-bottom: 25px;
}

.administrator-champions-details-tags-row {
  width: calc(100% / 3);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-color: #0d1219;
  border-width: 1px 0 1px 1px;
  cursor: pointer;
  position: relative;
  transition: background-color 0.2s;
  user-select: none;
  font-size: 14px;

  &.role-row {
    width: 20%;
  }

  &:last-of-type {
    border-width: 1px;
  }

  &:hover {
    background-color: $background-light;
  }

  &.active {
    background-color: $background-lighter;

    .administrator-champions-details-tags-image {
      transform: scale(1.5);
      opacity: 1;
    }
  }
}

.administrator-champions-details-tags-image {
  width: 25px;
  height: 25px;
  object-fit: cover;
  opacity: 0.5;
  transition: transform 0.2s, opacity 0.2s;
}

.administrator-champions-details-save {
  height: 42px;
  padding: 0 20px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid $green;
  font-size: 14px;
  transition: background-color 0.2s;

  &:hover {
    background-color: $green;
  }
}