.popup-container {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 300px;
}

.popup-entry {
  width: 100%;
  padding: 10px 15px;
  background-color: $background-lighter;
  opacity: 0;
  margin-top: 15px;
}

.popup-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.popup-title {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.popup-content {
  font-size: 13px;
}

.popup-close {
  line-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;

  i {
    font-size: 24px;
  }
}

.popup-fade-in {
  animation-name: popup-fade-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes popup-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.popup-fade-out {
  animation-name: popup-fade-out;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes popup-fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}