###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
.idea
migrations
node_modules

/public/img/champion/*
!/public/img/champion/.gitkeep
/public/img/championSquare/*
!/public/img/championSquare/.gitkeep