@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #fff; }

.hidden {
  display: none !important; }

.anim-slide-in-up {
  animation-name: anim-slide-in-up;
  animation-duration: 1s;
  opacity: 0;
  animation-fill-mode: forwards; }

@keyframes anim-slide-in-up {
  0% {
    opacity: 0;
    transform: translate(0, 60px); }
  100% {
    opacity: 1;
    transform: translate(0, 0); } }

.anim-delay-04 {
  animation-delay: 0.4s; }

.anim-delay-08 {
  animation-delay: 0.8s; }

.anim-delay-12 {
  animation-delay: 1.2s; }

.anim-slide-out-left {
  animation-name: anim-slide-out-left;
  animation-duration: 1s;
  opacity: 0;
  animation-fill-mode: forwards; }

@keyframes anim-slide-out-left {
  0% {
    opacity: 1;
    transform: translate(0, 0); }
  100% {
    opacity: 0;
    transform: translate(-60px, 0); } }

.anim-slide-in-left {
  animation-name: anim-slide-in-left;
  animation-duration: 1s;
  opacity: 0;
  animation-fill-mode: forwards; }

@keyframes anim-slide-in-left {
  0% {
    opacity: 0;
    transform: translate(-60px, 0); }
  100% {
    opacity: 1;
    transform: translate(0, 0); } }

.anim-slide-in-right {
  animation-name: anim-slide-in-right;
  animation-duration: 1s;
  opacity: 0;
  animation-fill-mode: forwards; }

@keyframes anim-slide-in-right {
  0% {
    opacity: 0;
    transform: translate(60px, 0); }
  100% {
    opacity: 1;
    transform: translate(0, 0); } }

.anim-slide-out-right {
  animation-name: anim-slide-out-right;
  animation-duration: 1s;
  opacity: 0;
  animation-fill-mode: forwards; }

@keyframes anim-slide-out-right {
  0% {
    opacity: 1;
    transform: translate(0, 0); }
  100% {
    opacity: 0;
    transform: translate(60px, 0); } }

.homepage-wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #1E293B;
  overflow: hidden auto; }

.homepage-container {
  margin: auto;
  user-select: none;
  max-width: 100%;
  max-height: 100%; }

.homepage-header {
  font-size: 65px;
  font-weight: 300;
  color: #F59E0B;
  margin-bottom: 25px;
  text-align: center; }

.homepage-intro {
  text-align: center;
  color: #fff;
  margin-bottom: 25px; }
  .homepage-intro > span {
    display: inline-block;
    margin-top: 20px;
    font-size: 26px;
    font-weight: 500; }

.homepage-choose {
  text-align: center;
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: 600;
  color: #F59E0B; }

.homepage-button-container {
  display: flex;
  align-items: center;
  justify-content: space-around; }
  .homepage-button-container > div {
    width: calc(100% / 3);
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .homepage-button-container > div:first-of-type {
      margin-left: 0; }

.homepage-button-hint {
  width: 200px;
  height: 42px;
  font-weight: 300;
  color: #ddd;
  margin-bottom: 15px;
  line-height: 14px;
  font-size: 12px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; }

.homepage-button {
  width: 80px;
  height: 80px;
  color: #fff;
  border: 2px solid #F59E0B;
  background-color: transparent;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  transition: background-color 0.2s, color 0.2s; }
  .homepage-button i {
    font-size: 40px;
    color: #F59E0B;
    transition: background-color 0.2s, color 0.2s; }
  .homepage-button:hover {
    background-color: #F59E0B;
    color: #1E293B; }
    .homepage-button:hover i {
      color: #fff; }

.random-container {
  width: 852px;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 25px; }

.random-champion {
  width: 50px;
  height: 50px; }

.random-image {
  width: 100%;
  height: 100%; }

.random-decayed {
  animation-name: random-decayed;
  animation-duration: 0.5s;
  animation-fill-mode: forwards; }

@keyframes random-decayed {
  0% {
    filter: grayscale(0);
    transform: scale(1);
    z-index: 2;
    opacity: 1; }
  25% {
    transform: scale(2);
    opacity: 1; }
  99% {
    z-index: 2; }
  100% {
    filter: grayscale(1);
    transform: scale(1);
    z-index: 1;
    opacity: 0.25; } }

.random-decayed-delay-0 {
  animation-delay: 0s; }

.random-decayed-delay-1 {
  animation-delay: 0.15s; }

.random-decayed-delay-2 {
  animation-delay: 0.3s; }

.random-decayed-delay-3 {
  animation-delay: 0.45s; }

.random-decayed-instant {
  animation-duration: 0s;
  animation-delay: 0s; }

.random-result-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  border-width: 1px;
  border-style: solid;
  animation-name: random-result-container;
  animation-duration: 0.5s;
  animation-fill-mode: forwards; }

@keyframes random-result-container {
  0% {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(245, 158, 11, 0); }
  100% {
    background-color: rgba(0, 0, 0, 0.5);
    border-color: #f59e0b; } }

.random-result-content-container {
  position: relative; }

.random-result-name {
  position: absolute;
  top: 50%;
  left: 180px;
  transform: translate(-75px, -50%);
  font-size: 40px;
  font-weight: 500;
  width: 300px;
  opacity: 0;
  transition: opacity 1s, transform 1s;
  color: #fff;
  text-shadow: 0 0 7px #F59E0B; }

.random-result-name-after {
  opacity: 1;
  transform: translate(0, -50%); }

.random-result-image {
  height: 445px;
  width: 245px;
  object-fit: contain;
  animation-name: random-result-image;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transition: transform 1s; }

@keyframes random-result-image {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.random-result-image-after {
  transform: translate(-100px, 0); }

.random-button-container {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center; }

.random-button {
  padding: 8px 16px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #F59E0B;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s, color 0.2s; }
  .random-button i {
    font-size: 20px;
    margin-right: 10px;
    color: inherit; }
  .random-button:hover {
    background-color: #F59E0B;
    color: #1E293B; }

.battle-container {
  width: 700px;
  display: flex;
  justify-content: space-between; }

.battle-arena {
  width: 302px;
  height: 152px;
  border: 1px solid #F59E0B;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  background-color: #000; }
  .battle-arena:hover .battle-background {
    opacity: 0.3; }

.battle-champion {
  width: calc(100% / 4);
  height: calc(100% / 2); }

.battle-final-container {
  width: 482px;
  height: 242px;
  border: 1px solid #F59E0B;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  background-color: #000;
  margin: 0 auto;
  animation-name: battle-final-container;
  animation-duration: 1s;
  animation-fill-mode: forwards; }

.battle-champion-final {
  transition: opacity 0.2s, filter 0.2s;
  cursor: pointer; }
  .battle-champion-final:hover {
    opacity: 0.6; }
  .battle-champion-final.blocked, .battle-champion-final.battle-champion-out {
    cursor: initial; }
    .battle-champion-final.blocked:hover, .battle-champion-final.battle-champion-out:hover {
      opacity: initial; }

.battle-last-container {
  width: 302px;
  height: 152px;
  border: 1px solid #F59E0B;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  background-color: #000;
  margin: 0 auto;
  animation-name: battle-final-container;
  animation-duration: 1s;
  animation-fill-mode: forwards; }
  .battle-last-container .battle-champion {
    width: calc(100% / 2);
    height: calc(100%); }

.battle-tada {
  width: 320px;
  border: 1px solid #F59E0B;
  position: relative;
  animation-name: battle-final-container;
  animation-duration: 1s;
  animation-fill-mode: forwards; }

.battle-tada-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); }

.battle-tada-name {
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  margin: 0;
  color: #F59E0B;
  text-transform: uppercase; }

.battle-tada-back {
  position: absolute;
  top: 50%;
  left: 100%;
  padding-left: 20px;
  transform: translate(0, -50%); }

.battle-button-back {
  width: 225px;
  border: 1px solid #F59E0B;
  padding: 5px 0;
  cursor: pointer;
  background-color: transparent;
  font-size: 24px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center; }
  .battle-button-back i {
    margin-right: 15px; }

.battle-tada-img {
  width: 100%;
  object-fit: cover; }

.battle-last-cursor {
  position: absolute;
  top: 125px;
  left: 50px; }
  .battle-last-cursor.reversed {
    transform: translate(150px, 0); }
  .battle-last-cursor i {
    font-size: 80px; }

.battle-champion-out {
  filter: grayscale(1);
  opacity: 0.2 !important; }

@keyframes battle-final-container {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

.battle-image {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.battle-hint {
  font-size: 20px;
  margin-bottom: 40px;
  text-align: center; }

.battle-or {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px; }

.battle-background {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F59E0B;
  opacity: 0;
  transition: opacity 0.2s; }

.battle-in {
  animation-name: battle-in;
  animation-duration: 1s;
  animation-fill-mode: forwards; }

@keyframes battle-in {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(1.12); } }

.battle-out {
  animation-name: battle-out;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-delay: 1.2s; }

@keyframes battle-out {
  0% {
    transform: scale(1) translate(0, 0);
    filter: grayscale(0); }
  20% {
    transform: scale(0.98) translate(5px, 0); }
  40% {
    transform: scale(0.96) translate(-5px, 0); }
  60% {
    transform: scale(0.94) translate(5px, 0); }
  80% {
    transform: scale(0.92) translate(-5px, 0); }
  100% {
    transform: scale(0.9) translate(0, 0);
    filter: grayscale(1); } }

.battle-fade {
  animation-name: battle-fade;
  animation-duration: 2s;
  animation-fill-mode: forwards; }

@keyframes battle-fade {
  0% {
    transform: scale(1);
    opacity: 1; }
  75% {
    opacity: 0; }
  100% {
    transform: scale(0);
    opacity: 0; } }

.battle-fade-in {
  animation-name: battle-fade-in;
  animation-duration: 1.2s;
  animation-fill-mode: forwards; }

@keyframes battle-fade-in {
  0% {
    transform: scale(0);
    opacity: 0; }
  75% {
    opacity: 1; }
  100% {
    transform: scale(1);
    opacity: 1; } }

.administrator-wrapper {
  background-color: #1E293B;
  width: 100%;
  height: 100vh;
  overflow-y: auto; }

.administrator-container {
  width: 800px;
  margin: 0 auto;
  padding: 50px 0; }

.administrator-header {
  text-align: center;
  color: #F59E0B;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 50px; }

.administrator-champions-container {
  display: flex;
  flex-wrap: wrap; }

.administrator-champion-row {
  width: 160px;
  height: 160px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer; }
  .administrator-champion-row:hover {
    background-color: rgba(0, 0, 0, 0.5); }

.administrator-champion-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px; }

.administrator-champion-name {
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase; }

.administrator-champion-search-container {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.administrator-champion-search-label {
  margin-bottom: 10px; }

.administrator-champion-search {
  width: 250px;
  outline: none;
  border: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 10px;
  height: 42px; }

.administrator-champions-details-back {
  padding: 5px 20px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  line-height: 0;
  margin-bottom: 25px; }
  .administrator-champions-details-back i {
    margin-right: 10px; }

.administrator-champions-details-inner-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }

.administrator-champions-details-image {
  width: 250px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.75), 0 0 15px rgba(0, 0, 0, 0.25); }

.administrator-champions-details-content {
  width: calc(100% - 285px); }

.administrator-champions-details-name {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.administrator-champions-details-tags-label {
  margin-bottom: 10px; }

.administrator-champions-details-flex-container {
  display: flex;
  height: 60px;
  margin-bottom: 25px; }

.administrator-champions-details-tags-row {
  width: calc(100% / 3);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-color: #0d1219;
  border-width: 1px 0 1px 1px;
  cursor: pointer;
  position: relative;
  transition: background-color 0.2s;
  user-select: none; }
  .administrator-champions-details-tags-row.role-row {
    width: 20%; }
  .administrator-champions-details-tags-row:last-of-type {
    border-width: 1px; }
  .administrator-champions-details-tags-row:hover {
    background-color: #2f405d; }
  .administrator-champions-details-tags-row.active {
    background-color: #40587f; }
    .administrator-champions-details-tags-row.active .administrator-champions-details-tags-image {
      transform: scale(1.5);
      opacity: 1; }

.administrator-champions-details-tags-image {
  width: 25px;
  height: 25px;
  object-fit: cover;
  opacity: 0.5;
  transition: transform 0.2s, opacity 0.2s; }

.administrator-champions-details-save {
  height: 42px;
  padding: 0 20px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #16A34A;
  font-size: 14px;
  transition: background-color 0.2s; }
  .administrator-champions-details-save:hover {
    background-color: #16A34A; }

.popup-container {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 300px; }

.popup-entry {
  width: 100%;
  padding: 10px 15px;
  background-color: #40587f;
  opacity: 0;
  margin-top: 15px; }

.popup-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px; }

.popup-title {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase; }

.popup-content {
  font-size: 13px; }

.popup-close {
  line-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer; }
  .popup-close i {
    font-size: 24px; }

.popup-fade-in {
  animation-name: popup-fade-in;
  animation-duration: 1s;
  animation-fill-mode: forwards; }

@keyframes popup-fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.popup-fade-out {
  animation-name: popup-fade-out;
  animation-duration: 1s;
  animation-fill-mode: forwards; }

@keyframes popup-fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
